<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         defaultTestSuite="all_tests"
         backupStaticAttributes="false"
         colors="true"
         bootstrap="./bootstrap_phpunit.php"
         >

    <testsuites>
        <testsuite name="all_tests">
            <directory>./unit</directory>
            <directory>./functionnal</directory>
        </testsuite>
        <testsuite name="profiling">
            <directory>./profiling</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>

    <logging>
        <log type="coverage-clover" target="../clover.xml"/>
    </logging>
</phpunit>
